In [103]:
library(tidyverse)
library(lubridate)

In [114]:
df<-read_csv('df.csv',col_names = TRUE,cols(
  Ano = col_double(),
  Mes = col_double(),
  Ano_Mes = col_character(),
  Fecha = col_date(format = ""),
  Precios_Mensuales = col_double(),
  Aportes_Energia_GWh = col_double(),
  Volumen_Util_Diario_Energia_GWh = col_double(),
  Demanda_Energia_SIN_GWh = col_double(),
  ONI = col_double(),
  CEN_Total = col_double(),
  CEN_Hidro = col_double(),
  CEN_Termica = col_double()
))

In [115]:
str(df)

Classes ‘spec_tbl_df’, ‘tbl_df’, ‘tbl’ and 'data.frame':	257 obs. of  12 variables:
 $ Ano                            : num  2000 2000 2000 2000 2000 2000 2000 2000 2000 2000 ...
 $ Mes                            : num  1 2 3 4 5 6 7 8 9 10 ...
 $ Ano_Mes                        : chr  "2000-01" "2000-02" "2000-03" "2000-04" ...
 $ Fecha                          : Date, format: "2000-01-01" "2000-02-01" ...
 $ Precios_Mensuales              : num  36.8 40.3 37.6 44.3 37.3 ...
 $ Aportes_Energia_GWh            : num  1901 1994 2253 2430 4818 ...
 $ Volumen_Util_Diario_Energia_GWh: num  10116 9705 9223 8946 10131 ...
 $ Demanda_Energia_SIN_GWh        : num  3354 3278 3495 3298 3502 ...
 $ ONI                            : num  -1.7 -1.4 -1.1 -0.8 -0.7 -0.6 -0.6 -0.5 -0.5 -0.6 ...
 $ CEN_Total                      : num  11.9 11.9 12 12.1 12.3 ...
 $ CEN_Hidro                      : num  7.97 7.97 8.06 8.14 8.23 ...
 $ CEN_Termica                    : num  3.9 3.9 3.9 3.9 4.05 ...
 - attr(*, "spec")=
  .. cols(
  ..   Ano = col_double(),
  ..   Mes = col_double(),
  ..   Ano_Mes = col_character(),
  ..   Fecha = col_date(format = ""),
  ..   Precios_Mensuales = col_double(),
  ..   Aportes_Energia_GWh = col_double(),
  ..   Volumen_Util_Diario_Energia_GWh = col_double(),
  ..   Demanda_Energia_SIN_GWh = col_double(),
  ..   ONI = col_double(),
  ..   CEN_Total = col_double(),
  ..   CEN_Hidro = col_double(),
  ..   CEN_Termica = col_double()
  .. )

# Creacion de funciones

In [87]:
oni<-function(df, start_at){
    
    fechaini<-as.Date(start_at)
    n_aleatorios<-df%>%filter(Fecha>=start_at)%>%select(ONI)%>%nrow
    df$ONI[df$Fecha>=as.Date(start_at)]<-round(runif(n_aleatorios,-0.5,0.5),1)
    
    return(df)
}

In [88]:
aportes<-function(df, start_at){
    
    fechaini<-as.Date(start_at)
    n_aleatorios<-df%>%filter(Fecha>=start_at)%>%select(Aportes_Energia_GWh)%>%nrow
    df$Aportes_Energia_GWh[df$Fecha>=as.Date(start_at)]<-round(runif(n_aleatorios,min(df$Aportes_Energia_GWh,na.rm = TRUE),max(df$Aportes_Energia_GWh,na.rm = TRUE)),3)
    
    return(df)
}

In [89]:
reservas<-function(df, start_at){
    
    fechaini<-as.Date(start_at)
    n_aleatorios<-df%>%filter(Fecha>=start_at)%>%select(Volumen_Util_Diario_Energia_GWh)%>%nrow
    df$Volumen_Util_Diario_Energia_GWh[df$Fecha>=as.Date(start_at)]<-round(runif(n_aleatorios,min(df$Volumen_Util_Diario_Energia_GWh,na.rm = TRUE),max(df$Volumen_Util_Diario_Energia_GWh,na.rm = TRUE)),3)
    
    return(df)
}

In [90]:
precios<-function(df, start_at){
    
    fechaini<-as.Date(start_at)
    n_aleatorios<-df%>%filter(Fecha>=start_at)%>%select(Precios_Mensuales)%>%nrow
    df$Precios_Mensuales[df$Fecha>=as.Date(start_at)]<-round(runif(n_aleatorios,min(df$Precios_Mensuales,na.rm = TRUE),max(df$Precios_Mensuales,na.rm = TRUE)),3)
    
    return(df)
}

In [91]:
demanda<-function(df, start_at){
    
    fechaini<-as.Date(start_at)
    n_aleatorios<-df%>%filter(Fecha>=start_at)%>%select(Demanda_Energia_SIN_GWh)%>%nrow
    df$Demanda_Energia_SIN_GWh[df$Fecha>=as.Date(start_at)]<-round(runif(n_aleatorios,min(df$Demanda_Energia_SIN_GWh,na.rm = TRUE),max(df$Demanda_Energia_SIN_GWh,na.rm = TRUE)),3)
    
    return(df)
}

In [120]:
columnas_calculadas<-function(df){
    #debo montar dem_CEN
    df$Dem_CEN<-round(df$Demanda_Energia_SIN_GWh/(as.vector(days_in_month(df$Fecha))*df$CEN_Total*24),4)
    #debo montar Term_Hidro
    df$Termica_Hidraulica<-round(df$CEN_Termica/df$CEN_Hidro,4)
    
    return(df)
}

In [117]:
normalizar_hidrologia<-function(df){
    #Normalizar aportes
    #Normalizar reservas
}

# Probar funciones

In [123]:
# df<-precios(df,start_at = '2019-06-01')
# df<-oni(df,start_at = '2019-06-01')
# df<-aportes(df,start_at = '2019-06-01')
# df<-reservas(df,start_at = '2019-06-01')
# df<-demanda(df,start_at = '2019-06-01')
# df<-columnas_calculadas(df)

# str(df)

In [100]:
head(df)

  Ano  Mes Ano_Mes Fecha      Precios_Mensuales Aportes_Energia_GWh
1 2000 1   2000-01 2000-01-01 36.77878          1900.660
2 2000 2   2000-02 2000-02-01 40.26148          1993.636
3 2000 3   2000-03 2000-03-01 37.63730          2253.361
4 2000 4   2000-04 2000-04-01 44.29806          2429.651
5 2000 5   2000-05 2000-05-01 37.29112          4817.901
6 2000 6   2000-06 2000-06-01 39.99320          4889.563
  Volumen_Util_Diario_Energia_GWh Demanda_Energia_SIN_GWh ONI  CEN_Total
1 10115.866                       3354.237                -1.7 11.88597
2  9705.065                       3278.267                -1.4 11.88597
3  9222.966                       3495.203                -1.1 11.96897
4  8945.684                       3298.386                -0.8 12.05397
5 10131.148                       3502.127                -0.7 12.29927
6 11020.110                       3367.886                -0.6 12.44327
  CEN_Hidro CEN_Termica
1 7.97497   3.897
2 7.97497   3.897
3 8.05797   3.897
4 8.14297   3.897
5 8.23427   4.051
6 8.23427   4.195

In [175]:
generar_archivos<-function(df, start_at, n_iter, folder_location){
    
    
    if(dir.exists('./Resultados/')){
        while(file.remove(list.files(path = folder_location,pattern = '[0-9][0-9][0-9][0-9][0-9].csv',full.names = TRUE)[1])==TRUE){
            list.files(path = folder_location,pattern = '[0-9][0-9][0-9][0-9][0-9].csv',full.names = TRUE)[1]
        }

        fechaini<-as.Date(start_at)

        for( i in seq(n_iter)){

            #Normalizar aportes
            #normalizar reservas
            #Agregar variables calculadas
            df<-precios(df,fechaini)
            df<-oni(df,fechaini)
            df<-aportes(df,fechaini)
            df<-reservas(df,fechaini)
            df<-demanda(df,fechaini)
            df<-columnas_calculadas(df)

            #pronostico de variables calculadas
            write_csv(df, paste0(folder_location,str_pad(i, pad = 0, width = 5),'.csv'))
        }
    } else{
        cat('Error: Directorio no existe en esta mquina')
    }
}

In [176]:
generar_archivos(df,start_at = '2019-06-01',n_iter = 20,folder_location = './Resultados/')

# Tareas

In [95]:
#para el oni es un AR qe estime el P optimo y genere hacia adelante una serie sintetica y llenar 2h
#para aportes normalizar y hacer el arx pronosticar uno a uno y tiene como entrada el ONI y se devuelven las unidades 2h
#para embalses normalizar y hacer arx con oni, aportes, relacion T/H y me devuelvo 2h
#un modelo simple de precio 2h